<p>Welcome to my first blog! Please click the links to have a look at my favourite bands and performers.</p>

<a href="http://wac.450f.edgecastcdn.net/80450F/katsfm.com/files/2012/04/70-bands.jpg"><img class="main" src="http://wac.450f.edgecastcdn.net/80450F/katsfm.com/files/2012/04/70-bands.jpg" alt="There are 75 groups/performers in this picture. Can you name them all?"></a>

<div class="elvisdance">
	<img  class="elvis1"src="/images/elvis-presley-dancing-top3.png" alt="">

	<img class="elvis2" src="/images/elvis-presley-dancing-legs2.png" alt="">
</div>
