<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/style.css">
	<meta charset="UTF-8">
	<title>My Favourite Bands and Performers</title>
</head>
<body>
	

	<div class="container">
	<h1><strong>Daniel's Blog of Cool Bands and Performers</strong></h1>
		<%= yield %>
	</div>
	
	<div class="nav_container">
		<nav>
			<ul>
				<li>
					<a class="nav_links" href="/">Home</a>
				</li>
				<li>
					<a class="nav_links" href="/bands">Bands and Performers</a>
				</li>
				<li>
					<a class="nav_links" href="/bands/new">New Band or Performer</a>
				</li>
			</ul>
			
			
			
		</nav>
	</div>

</body>
</html>