

<h2>New Band or Performer</h2>
<form action="/bands" method="post"> <!-- In HTTP post is the same as insert -->
	<p><input type="text" name="name" placeholder="Name"></p>
	<p><input type="url" name="image" placeholder="Image URL"></p>
	<p><input type="url" name="youtube" placeholder="Youtube URL"></p>
	<p><textarea class="blurb" type="textbox" name="blurb" placeholder="Blurb" rows="3"></textarea></p>



	<input type="submit" value= "Post">
</form>
